<!DOCTYPE html>
<html>
<head>
	<title>James Redux's Portfolio</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>Sinatra Projects by James Redux</h1>
		</div>
		<div id="content">
			<div id= "input">
				<p>Welcome to My projects. Please look around.</p>
				<div id="links">
				<a href="/hangman">Hangman</a>
				<a href="/caesar_cypher">Caesar Cypher</a>
				</div>
			</div>			
		</div>
	</div>

</body>
</html>