
<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>James's Hangman Game</h1>
		</div>
		<div id="content">
			<div id= "input">
				<p>Welcome to Hangman. Please choose your difficulty level.</p>
				<div id="links">
				<a href="/easy_game">EASY</a>
				<a href="/hard_game">DIFFICULT</a>
				</div>
			</div>			
		</div>
	</div>

</body>
</html>